/* Top VPN Providers */
.vpn-container {
    width: 100%;
    height: 140px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 7px #828282;
    float: left;
    border: solid 1px #7796A3;
    font-family: Arial;
}
.vpn-container .left-side {
    float: left;
    position: relative;
    width: 20%;
    height: 100%;
    border-right: 1px solid #e8e7e7;
    text-align: center;
}
.vpn-container .left-side .vpn-logo{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 120px;
    height: 40px
}
.vpn-container .left-side .vpn-logo .logo-resize {
    max-width: 100%;
    max-height: 100%;
}
.vpn-container .right-side{
    float: right;
    width: 80%;
    height: 100%;
    position: relative;
}
.vpn-container .right-side .vpn-info-area{
    width: 100%;
    padding: 0;
    font-size: 12px;
    bottom: 0px;
    border-collapse: collapse;
    padding: 2px 10px 14px;
    position: relative;
    bottom: 0px;
}
.vpn-container .right-side .vpn-info-area th{
    height: 28px;
    position: relative;
    font-weight: bold;
    background-color: #FFEBD0;
    font-size: 13px;
    line-height: 16px;
    color: #3e3e3e;
    vertical-align: middle;
    text-align: center;
}
.vpn-container .right-side .vpn-info-area th {
    border-left: 1px solid #d5d5d5;
    border-right: 0px;
}
.vpn-container .right-side .vpn-info-area td {
    border-bottom: 0px;
    border-right: 0px;
}
.vpn-container .right-side .vpn-info-area th:first-child{
    border-left: 0;
}
.vpn-container .right-side .vpn-info-area th:last-child{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    min-width: 80px;
}
.vpn-container .infobox-header{
    margin-top: 0px;
    font-size: 12px;
    font-weight: bold;
    color: #3e3e3e;
}
.vpn-container .right-side .vpn-info-area td {
    border-left: 1px solid #d5d5d5;
    padding: 5px;
}
.vpn-container .right-side .vpn-info-area td:first-child {
    border-left: none;
}
.vpn-container .right-side .infobox {
    text-align: center;
}
.vpn-container .right-side .infobox .intro-txt {
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    color: red;
    color: #3b3b3b;
}
.vpn-container .right-side .infobox.column_11 strong,
.vpn-container .right-side .infobox.column_12 strong {
    font-weight: normal;
}
.vpn-container .right-side .td-bg {
    text-align: center;
}
.vpn-container .right-side .price-item .before-discount {
    font-size: 12px;
    text-decoration: line-through;
    color: #808080;
}
.vpn-container .right-side .price-item .after-discount,
#sidebar-vpn-container .list-vpn-item .vpn-links .after-discount {
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    color: red;
}
.vpn-container .right-side .vpn-special-offer {
    float: left;
    margin: 5px;
    padding-left: 18px;
    padding-top: 2px;
    background: url('/assets/images/vpn/special_offer_tag.png') no-repeat;
}
.vpn-container .right-side .vpn-special-offer span.special-offer {
    padding-left: 2px;
    font-size: 12px;
    font-weight: bold;
    color: red;
}
.vpn-container .right-side .vpn-links {
    float: right;
}

.buy-now {
    margin-left: 50px;
}
.vpn-container .right-side .vpn-links .btn{
    margin-bottom: 5px;
    min-width: 80px;
    padding: 2px 1px;
    font-size: 12px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: bold;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover {
    color:#333;
    background-color:#e6e6e6;
    border-color:#adadad;
}
.btn-warning {
    color: /* #fff */ black;
    background-color: #f0ad4e;
    border-color:#d58512
}
.btn-warning:hover{
    color:#fff;
    background-color:#ec971f;
    border-color: #eea236;
}
#sidebar-vpn-container {
    width: 100%;
    margin: 0px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 3px #828282;
    border: solid 1px #7796A3;
    font-family: Arial;
}
#sidebar-vpn-container .list-header {
    background-color: #f1f1f0;
    height: 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 5px;
    text-align: center;
}
#sidebar-vpn-container .list-header h2 {
    padding: 0px;
    margin: -5px;
    font-size: 18px;
}
#sidebar-vpn-container .list-vpn-item {
    border-bottom: solid 1px #e8e7e7;
    height: 120px;
}
#sidebar-vpn-container .vpn-rating-container{
   text-align: center;
}
#sidebar-vpn-container .vpn-rating-container .vpn-rating{
    margin-top: 10px;
}
#sidebar-vpn-container .btn{
    margin-bottom: 5px;
    min-width: 80px;
    padding: 2px 1px;
    font-size: 12px;
}
#sidebar-vpn-container .list-vpn-item .vpn-logo{
    width: 150px;
    height: 50px;
}
#sidebar-vpn-container .list-vpn-item .vpn-logo .logo-resize{
    max-width: 100%;
    max-height: 100%;
}
#sidebar-vpn-container .list-vpn-item table{
    width: 100%;
    height: 100%;
    border: 0px;
}
#sidebar-vpn-container .list-vpn-item table td{
    vertical-align: middle;
    border: 0px;
}
#sidebar-vpn-container .list-vpn-item table td:first-child{
    text-align: left;
    text-align: center;
}
#sidebar-vpn-container .list-vpn-item table td:last-child{
    text-align: center;
    width: 80px;
}
.hidden {
    display: none;
    visibility: hidden;
}
.vpn-container .left-side .star-rating {
    position: absolute;
    top: 65px;
    left: 25px;
    margin: 0 auto;
}
i.vpn-rating {
        background-image: url('/assets/images/vpn/stars_rating_image.png');
        display: inline-block;
        height: 16px;
        width: 80px;
        background-position: -80px -48px;
}
i.rating-1    { background-position: -64px -48px; }
i.rating-1-qtr  { background-position: -64px -32px; }
i.rating-1-half { background-position: -64px -16px; }
i.rating-1-3qtr { background-position: -64px 0; }
i.rating-2    { background-position: -48px -48px; }
i.rating-2-qtr  { background-position: -48px -32px; }
i.rating-2-half { background-position: -48px -16px; }
i.rating-2-3qtr { background-position: -48px 0; }
i.rating-3    { background-position: -32px -48px; }
i.rating-3-qtr  { background-position: -32px -32px; }
i.rating-3-half { background-position: -32px -16px; }
i.rating-3-3qtr { background-position: -32px 0; }
i.rating-4    { background-position: -16px -48px; }
i.rating-4-qtr  { background-position: -16px -32px; }
i.rating-4-half { background-position: -16px -16px; }
i.rating-4-3qtr { background-position: -16px 0; }
i.rating-5    { background-position: 0 -48px; }
i.rating-5-qtr  { background-position: 0 -32px; }
i.rating-5-half { background-position: 0 -16px; }
i.rating-5-3qtr { background-position: 0; }

.nav-tabs {
    border-bottom: 1px solid #e78a10;
    display: table;
    width: 100%;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs>li {
    float: left;
    /* margin-bottom: -11px; */
}
.nav>li {
    position: relative;
    display: block;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-tabs>li>a {
    font-weight: bold;
    margin-right: 5px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-right: 0;
    border-left: 0;
    font-size: 14px;
    font-weight: bold;
    color: #3e3e3e;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #fff;
    cursor: default;
    background-color: #f5920d;
    border: 1px solid #e78a10;
    border-bottom-color: transparent;
}
.nav-tabs>li>a{
    background-color: #FFEBD0;
    border-bottom: 1px solid #e78a10;
}
.nav-tabs>li>a:hover{
    background-color: #f0ad4e;
    color: #fff;
}
.nav-tabs>li:first-child>a{
    border-radius: 6px 0 0 0;
}
.nav-tabs>li:last-child>a{
    border-radius: 0 6px 0 0;
}

.coupon{
    border: 2px dashed black;
    width: 400px;
    height: 150px;
    color: #4C4C4C;
    border-spacing: 5px;
}
.coupon td.coupon-logo{
    text-align: center;
    vertical-align: middle;
    width: 110px;
    padding-right: 10px;
}
.coupon-logo img{
    max-width: 100px;
}
.coupon-info{
    padding-left: 15px;
    border-left: 1px solid #898989;
}
.coupon-title{
    color: #c70000;
    margin: 0;
}
.coupon-description{
    font-size: 14px;
    margin: 10px 0;
}
.coupon-code, .coupon-expiration{
    font-size: 14px;
}
.coupon-code .code{
    font-weight: bold;
    font-style: italic;
    background-color: white;
    color: black;
    padding: 0px 0px;
}

#contact-address {
    display: none;
}

