html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, button, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Roboto Condensed", "Lucida Sans", sans-serif;
  vertical-align: baseline;
}

html,
body,
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  color: #585858;
  font-family: "Roboto Condensed", "Lucida Sans", sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  font-weight: 900;
  font-size: 21px;
  margin-top: 9px;
  text-align: center;
}

.layout {
  background: #fff;
  font-family: "Roboto Condensed", "Lucida Sans", sans-serif;
  position: relative;
}

.layout button {
  cursor: pointer;
}

#frame-01 h1 {
  font-weight: 400;
}

#frame-01 h1:first-child{
  padding-bottom: 4px;
}

.logo {
  position: relative;
}

.logo img {
  display: block;
}

.disclaimer {
  bottom: 0;
  font: 9px Arial, Helvetica, sans-serif;
  position: absolute;
  text-align: center;
  width: 100%;
}

.product-wrapper {
  padding: 5px;
}

.product-wrapper h2,
.product-wrapper h3 {
  color: #fff;
}

.product-wrapper .product-price-container {
  color: #fff;
  width: 100%;
}

.product-price-container span {
  padding-bottom: 3px;
}

.one-line-headline #frame-01 .headlines {
  height: 90%;
  padding: 5%;
  top: 5%;
}

.one-line-headline #frame-01 .headlines h1:first-child {
  height: 100%;
}
